body[class*="dark-ui"] .mde-preview {
  color: rgba(213, 216, 218, 0.9);
}
body[class*="dark-ui"] .mde-preview {
  background-color: #1C1E26;
}
body[class*="dark-ui"] .mde-preview a {
  background-color: transparent;
  color: #E95678;
}
body[class*="dark-ui"] .mde-preview img {
  border: 0;
}
body[class*="dark-ui"] .mde-preview input {
  color: inherit;
}
body[class*="dark-ui"] .mde-preview strong,
body[class*="dark-ui"] .mde-preview em {
  color: #D5D8DA;
}
body[class*="dark-ui"] .mde-preview h1,
body[class*="dark-ui"] .mde-preview h2,
body[class*="dark-ui"] .mde-preview h3,
body[class*="dark-ui"] .mde-preview h4,
body[class*="dark-ui"] .mde-preview h5,
body[class*="dark-ui"] .mde-preview h6 {
  color: rgba(213, 216, 218, 0.875);
}
body[class*="dark-ui"] .mde-preview h1 {
  font-size: 2.25em;
  border-bottom: 1px solid rgba(213, 216, 218, 0.4);
}
body[class*="dark-ui"] .mde-preview h2 {
  font-size: 1.75em;
}
body[class*="dark-ui"] .mde-preview h3 {
  font-size: 1.5em;
}
body[class*="dark-ui"] .mde-preview h4 {
  font-size: 1.25em;
}
body[class*="dark-ui"] .mde-preview h5 {
  font-size: 1em;
}
body[class*="dark-ui"] .mde-preview h6 {
  font-size: 1em;
  color: rgba(213, 216, 218, 0.625);
}
body[class*="dark-ui"] .mde-preview hr {
  background-color: rgba(213, 216, 218, 0.3);
}
body[class*="dark-ui"] .mde-preview blockquote {
  color: rgba(213, 216, 218, 0.4);
  border-left: 4px solid rgba(213, 216, 218, 0.1);
}
body[class*="dark-ui"] .mde-preview table th {
  background-color: rgba(213, 216, 218, 0.1);
}
body[class*="dark-ui"] .mde-preview table th,
body[class*="dark-ui"] .mde-preview table td {
  border: 1px solid rgba(213, 216, 218, 0.25);
}
body[class*="dark-ui"] .mde-preview table tr {
  background-color: transparent;
  border-top: 1px solid rgba(213, 216, 218, 0.25);
}
body[class*="dark-ui"] .mde-preview table tr:nth-child(2n) {
  background-color: rgba(213, 216, 218, 0.05);
}
body[class*="dark-ui"] .mde-preview img {
  background-color: transparent;
}
body[class*="dark-ui"] .mde-preview code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(22, 22, 28, 0.7);
  border-radius: 3px;
}
body[class*="dark-ui"] .mde-preview code:before,
body[class*="dark-ui"] .mde-preview code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
body[class*="dark-ui"] .mde-preview pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
body[class*="dark-ui"] .mde-preview pre {
  padding: 16px;
  overflow: auto;
  word-wrap: normal;
  font-size: 85%;
  line-height: 1.45;
  background-color: rgba(22, 22, 28, 0.7);
  border-radius: 3px;
}
body[class*="dark-ui"] .mde-preview pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
body[class*="dark-ui"] .mde-preview pre code:before,
body[class*="dark-ui"] .mde-preview pre code:after {
  content: normal;
}
body[class*="dark-ui"] .mde-preview .cm-header {
  color: #E95678;
}
body[class*="dark-ui"] .mde-preview .cm-quote {
  color: #FAB795;
  font-style: italic;
}
body[class*="dark-ui"] .mde-preview .cm-negative {
  color: #F43E5C;
}
body[class*="dark-ui"] .mde-preview .cm-positive {
  color: #09F7A0;
}
body[class*="dark-ui"] .mde-preview .cm-header,
body[class*="dark-ui"] .mde-preview .cm-strong {
  font-weight: bold;
}
body[class*="dark-ui"] .mde-preview .cm-em {
  font-style: italic;
}
body[class*="dark-ui"] .mde-preview .cm-link {
  text-decoration: underline;
}
body[class*="dark-ui"] .mde-preview .cm-strikethrough {
  text-decoration: line-through;
}
body[class*="dark-ui"] .mde-preview .cm-keyword {
  color: #B877DB;
  font-weight: normal;
}
body[class*="dark-ui"] .mde-preview .cm-atom {
  color: #F09383;
}
body[class*="dark-ui"] .mde-preview .cm-number {
  color: #F09383;
}
body[class*="dark-ui"] .mde-preview .cm-def {
  color: #25B2BC;
}
body[class*="dark-ui"] .mde-preview .cm-property {
  color: #D5D8DA;
}
body[class*="dark-ui"] .mde-preview .cm-operator {
  color: #BBBBBB;
}
body[class*="dark-ui"] .mde-preview .cm-variable,
body[class*="dark-ui"] .mde-preview .cm-punctuation {
  color: #D5D8DA;
}
body[class*="dark-ui"] .mde-preview .cm-variable-2 {
  color: #E95678;
}
body[class*="dark-ui"] .mde-preview .cm-variable-3,
body[class*="dark-ui"] .mde-preview .cm-type {
  color: rgba(255, 255, 255, 0.8);
}
body[class*="dark-ui"] .mde-preview .cm-comment {
  color: rgba(187, 187, 187, 0.3);
  font-style: italic;
}
body[class*="dark-ui"] .mde-preview .cm-string {
  color: #FAC29A;
}
body[class*="dark-ui"] .mde-preview .cm-string-2 {
  color: #FAC29A;
}
body[class*="dark-ui"] .mde-preview .cm-meta {
  color: #25B2BC;
}
body[class*="dark-ui"] .mde-preview .cm-qualifier {
  color: #FAB795;
}
body[class*="dark-ui"] .mde-preview .cm-builtin {
  color: #D5D8DA;
}
body[class*="dark-ui"] .mde-preview .cm-bracket {
  color: #f99157;
}
body[class*="dark-ui"] .mde-preview .cm-tag {
  color: #E95678;
}
body[class*="dark-ui"] .mde-preview .cm-attribute {
  color: #F09383;
}
body[class*="dark-ui"] .mde-preview .cm-hr {
  color: #999;
}
body[class*="dark-ui"] .mde-preview .cm-link {
  color: #F09383;
}
body[class*="dark-ui"] .mde-preview .cm-error {
  color: #F43E5C;
}
