.mde-preview {
  color: rgba(213, 216, 218, 0.9);
  background-color: #1c1e26;
  line-height: 1.5;
}
.mde-preview:before {
  display: table;
  content: "";
}
.mde-preview:after {
  display: table;
  clear: both;
  content: "";
}
.mde-preview h1,
.mde-preview h2,
.mde-preview h3,
.mde-preview h4,
.mde-preview h5,
.mde-preview h6 {
  color: rgba(213, 216, 218, 0.875);
}
.mde-preview h1 {
  font-size: 2.25em;
  padding-bottom: 0.3em;
  line-height: 1.2;
  border-bottom: 1px solid rgba(213, 216, 218, 0.4);
}
.mde-preview h2 {
  font-size: 1.75em;
  padding-bottom: 0.3em;
  line-height: 1.225;
}
.mde-preview h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.mde-preview h4 {
  font-size: 1.25em;
}
.mde-preview h5 {
  font-size: 1em;
}
.mde-preview h6 {
  font-size: 0.9em;
  color: rgba(213, 216, 218, 0.625);
}
.mde-preview hr {
  background-color: rgba(213, 216, 218, 0.3);
}
.mde-preview a {
  background-color: transparent;
  color: #e95678;
}
.mde-preview strong,
.mde-preview em {
  color: #d5d8da;
}
.mde-preview blockquote {
  padding: 0 15px;
  color: rgba(213, 216, 218, 0.4);
  border-left: 4px solid rgba(213, 216, 218, 0.1);
}
.mde-preview input {
  color: inherit;
}
.mde-preview img {
  border: 0;
  background-color: transparent;
}
.mde-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}
.mde-preview table th,
.mde-preview table td {
  padding: 6px 13px;
  border: 1px solid rgba(213, 216, 218, 0.3);
}
.mde-preview table tr {
  background-color: transparent;
  border-top: 1px solid rgba(213, 216, 218, 0.25);
}
.mde-preview table tr:nth-child(2n) {
  background-color: rgba(213, 216, 218, 0.04);
}
.mde-preview code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(22, 22, 28, 0.7);
  border-radius: 6px;
}
.mde-preview code:before,
.mde-preview code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.mde-preview pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.mde-preview pre {
  padding: 16px;
  overflow: auto;
  word-wrap: normal;
  font-size: 85%;
  line-height: 1.45;
  background-color: rgba(22, 22, 28, 0.7);
  border-radius: 6px;
}
.mde-preview pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.mde-preview pre code:before,
.mde-preview pre code:after {
  content: normal;
}
.mde-preview .cm-header {
  color: #e95678;
}
.mde-preview .cm-quote {
  color: #fab795;
  font-style: italic;
}
.mde-preview .cm-negative {
  color: #f43e5c;
}
.mde-preview .cm-positive {
  color: #09f7a0;
}
.mde-preview .cm-header,
.mde-preview .cm-strong {
  font-weight: bold;
}
.mde-preview .cm-em {
  font-style: italic;
}
.mde-preview .cm-link {
  text-decoration: underline;
}
.mde-preview .cm-strikethrough {
  text-decoration: line-through;
}
.mde-preview .cm-keyword {
  color: #b877db;
  font-weight: normal;
}
.mde-preview .cm-atom {
  color: #f09383;
}
.mde-preview .cm-number {
  color: #f09383;
}
.mde-preview .cm-def {
  color: #25b2bc;
}
.mde-preview .cm-property {
  color: #d5d8da;
}
.mde-preview .cm-operator {
  color: #bbbbbb;
}
.mde-preview .cm-variable,
.mde-preview .cm-punctuation {
  color: #d5d8da;
}
.mde-preview .cm-variable-2 {
  color: #e95678;
}
.mde-preview .cm-variable-3,
.mde-preview .cm-type {
  color: rgba(255, 255, 255, 0.8);
}
.mde-preview .cm-comment {
  color: rgba(187, 187, 187, 0.3);
  font-style: italic;
}
.mde-preview .cm-string {
  color: #fac29a;
}
.mde-preview .cm-string-2 {
  color: #fac29a;
}
.mde-preview .cm-meta {
  color: #25b2bc;
}
.mde-preview .cm-qualifier {
  color: #fab795;
}
.mde-preview .cm-builtin {
  color: #d5d8da;
}
.mde-preview .cm-bracket {
  color: #f99157;
}
.mde-preview .cm-tag {
  color: #e95678;
}
.mde-preview .cm-attribute {
  color: #f09383;
}
.mde-preview .cm-hr {
  color: #999999;
}
.mde-preview .cm-link {
  color: #f09383;
}
.mde-preview .cm-error {
  color: #f43e5c;
}
